.TodoSearch {
  background: #B1D19A;
  border-radius: 8px;
  border: none;
  margin: 10px 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1E1E1F;
}

.TodoSearch::placeholder {
  color: #A09B9B;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #7D9A67;
}